:root {
  font-size: 1.2rem;
  font-family: nunito;
}

body {
  background-color: white;
  margin-left: 2%;
  background-color: rgb(254, 254, 254);
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nextStepList {
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
  margin-bottom: 20px;
  list-style: none;
  padding: 0.1em;
}

.inner {
  border: 4px solid blue;
  border-radius: 7px;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
}

li div:hover {
  background-color: rgb(195, 195, 195);
  transition-duration: 100ms;
}

li:hover {
  background-color: white;
}

#main {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  border: 2px solid black;
  border-radius: 4px;
  height: 30px;
}

h1 {
  margin-left: 7%;
  border-bottom: 2px solid black;
  width: 68%;
}

.horizontalList li {
  display: inline-block;
}

.horizontalList {
  border-bottom: 1px solid black;
  margin-right: 70%;
}

.nextStepList a {
  text-decoration: dashed;
  color: black;
}

#mainDiv {
  border-right: 2px solid black;
  flex-grow: 5;
}

.history {
  flex-grow: 1;
}

.history ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.history li {
  border: 3px solid green;
}

.history p {
  margin-left: 25%;
  margin-right: 25%;
}
